<table class="table table-bordered">
	<thead>
	  <tr>
	  	<th class="bg-primary">#</th>
	    <th class="bg-primary"> Имя посетителя  </th>
	    <th class="bg-primary"> Телефон посетителя  </th>
	    <th class="bg-primary"> Дата визита  </th>
	    <th class="bg-primary"> Парикмахер  </th>
	    <th class="bg-primary"> Цвет краски  </th>
	  </tr>
	</thead>  

<tbody>
	<% @results.each do |row| %>

	  <tr <%= "style='background-color: yellow; color: black;'" if row == @results.first %>>
	  	<td><%= row['id'] %></td>
	    <td><%= row['name'] %></td>
	    <td><%= row['phone'] %></td>
	    <td><%= row['date'] %></td>
	    <td><%= row['barber'] %></td>
	    <td style="background-color: <%= row['color']%>"><%= row['color'] %></td>
	  </tr>

	<% end %>
</tbody>

</table>